.button {
	font-size: 1em;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: .5em 1.5em;
	border-radius: 0.5em;
	color: #fef4e9;
	border: solid 1px #1E577F;
	background: #1E577F;
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50.01%, rgba(255, 255, 255, 0)), -webkit-linear-gradient(#0074AE, #073C66);
	background: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50.01%, rgba(255, 255, 255, 0)), -moz-linear-gradient(#0074AE, #073C66);
	background: -ms-linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50.01%, rgba(255, 255, 255, 0)), -ms-linear-gradient(#0074AE, #073C66);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50.01%, rgba(255, 255, 255, 0)), -o-linear-gradient(#0074AE, #073C66);
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50.01%, rgba(255, 255, 255, 0)), linear-gradient(#0074AE, #073C66);
}
.button:hover {
	box-shadow: 0 0 8px #555;
	text-shadow: 0 0 15px #fff;
	text-decoration: none;
}
.button:active {
	box-shadow: none;
	position: relative;
	top: 1px;
}

.big .button { font-size: 1.5em; }

input.text {
	font-size: 1.25em; padding: 0.25em; border: 1px solid #ccc;
	color: #555; width: 300px;

}
input.text:focus {
	border-color: #aaa;
	box-shadow: 0 0 8px #aaa;
}

form textarea {
	font-size: 1.25em; padding: 0.25em; border: 1px solid #ccc;
	color: #555; width: 98%; height: 200px; margin: 0 0 1em 0;
}

.big input.text {
	font-size: 2.5em; width: 600px;
}

form label {
	font-size: 1em; color: #555; font-weight: normal; display: block;
}

.error {
	position: absolute;
	background: maroon; color: #fff; padding: 1em; display: none;
}

.success {
	background: green; color: #fff; padding: 1em; display: none;
}